.container
  h1 مرحباً في AppDown
  p متجر بسيط يدعم الدفع بـ Pi Network

  .product
    h3 منتج اختباري
    p السعر: 10 π

  button#pi-pay-button(disabled type="button" onclick="startPiPayment(10, 'اختبار شراء')")
    ادفع 10 π

  p حالة: جاري الاتصال بمحفظة Pi...

script(src="https://sdk.minepi.com/pi-sdk.js")
script(src="/js/pi-payment.js")
